[Unit]
Description=The InvokeAI container
After=network-online.target

[Service]
TimeoutStartSec=1200

[Container]
Image=ghcr.io/invoke-ai/invokeai:main-rocm
ContainerName=invokeai
AutoUpdate=registry
Environment=INVOKEAI_ROOT=/var/lib/invokeai
PublishPort=9091:9090
Volume=invokeai.volume:/var/lib/invokeai
SecurityLabelDisable=true
AddDevice=/dev/dri
AddDevice=/dev/kfd

[Install]
WantedBy=multi-user.target
