[Desktop Entry]
Type=Application
TryExec=neovim
Exec=alacritty -e toolbox run nvim
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Neovim
GenericName=Editor
Comment=A hyperextensible Vim-based text editor
StartupNotify=true
StartupWMClass=Neovim
Actions=New;
X-Desktop-File-Install-Version=0.26
