[Desktop Entry]
Type=Application
TryExec=wezterm
Exec=wezterm
Icon=WezTerm
Terminal=false
Categories=System;TerminalEmulator;

Name=WezTerm System
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=WezTerm
Actions=New;
X-Desktop-File-Install-Version=0.26

[Desktop Action New]
Name=New System Terminal
Exec=wezterm
