@import "./rose-pine.css";

* {
    color: @white;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: "Mono Lisa Nerd Font", sans-serif;
    font-size: 16px;
    margin-right: 1px;
    margin-left: 1px;
    padding: 1px 0;
}

window#waybar {
    background: rgba (0, 0, 0, 0.5);
}

#workspaces button {
    padding: 1px 0px;
    color: #eceff4;
}

#workspaces button.active {
    background-color: @overlay;
    border-radius: 2px;
}

#clock,
#cpu,
#memory,
#idle_inhibitor,
#pulseaudio,
#tray,
#window,
#custom-power {
    padding: 0 5px;
}


window#waybar {
    background: @base;
    border: none;
}
